body {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);
    background: linear-gradient(to top, #2c3e50, #bdc3c7); 
    background-repeat: no-repeat;
    font-family: "Lora", serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 50px;
    border: 1px solid;
    border-radius: 50px;
    background-color: #bdc3c7;
    color: #f2f2f2;
    cursor: pointer;
    
}